# -e .
notebook==7.4.4
pre-commit==4.2.0
pytest==8.4.1
ruff==0.12.3
chromadb==1.4.1
sentence-transformers==5.1.1
openai==2.17.0
ollama==0.6.1
numpy==2.4.2
fastapi==0.115.14
jupyter==1.1.1
git+ssh://git@gitlab.datascience.ch/industry/common/conversational-toolkit.git@v7.0.4

# asyncpg
# greenlet
# loguru
# pandas
# partial-json-parser
# python-dotenv
# uvicorn
# python-docx

